body{
    margin: 0;
    font-family: 'Sora', sans-serif;
    background-color: #f9f6f6;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
    padding: 0;
}

nav{
    background-color: #e9e2df;
    padding: 0 20px;
    justify-content: space-around;
    align-items: center;
}

h1, p{
    color: #FFF;
}

nav, ul{
    display: flex;
    flex-direction: row;
}

li{
    padding: 0 10px;
    align-items: center;
    display: flex;

}

h1{
    margin: 0;
    padding: 10px;
}

button{
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;

}

.logo h1{
    color: #947868;
}
.logo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: lighter;
}



.item-nav-bar{
    color: #947868;
    font-weight: 500;
    font-size: 12px;
}


#btn-01{
    padding: 6px;
    background-color: #947868;
    border-radius: 4px;
    color: #FFF;
}

p,li p:hover{
    color: #6c5649;
    transition: ease-in 0.4;
}

/* MAIN */
.criar-conta{
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 20px;
    margin: 20px;
    border: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 50px;

    justify-self: center;
    
}
.criar-conta h1{
    color: #736056;
    font-weight: bold;
}

.dados-do-usuario{
    display: grid;
    overflow: hidden;
    grid-gap: 20px;
    justify-content: center;
    width: auto;
    grid-template-areas: "nome sobrenome"
                        "end end"
                        "num comp"
                        "cid est"
                        "cep cep"
                        "em em"
                        "sen sen";

}
.dados-do-usuario input{
    font-size: 18px;
    font-weight: normal;
    font-style: initial;
    color: #6c5649;
    width: auto;
}
.dados-do-usuario select{
    font-size: 18px;
    font-weight: normal;
    font-style: initial;
    color: #6c5649; 
}
#nome{
    grid-area: nome;
}
#sobrenome{
    grid-area: sobrenome;
}
#endereco{
    grid-area: end;
}
#numero{
    grid-area: num;
}
#completemento{
    grid-area: comp;
}
#cidade{
    grid-area: cid;
}
#estado{
    grid-area: est;
}
#cep{
    grid-area: cep;
}
#email{
    grid-area: em;
}
#senha{
    grid-area: sen;
}
.link-enviar{
    width: 20vw;
    justify-self: center;
}
#btn-02{
    padding: 6px;
    background-color: #947868;
    border-radius: 4px;
    color: #FFF;
    justify-self: center;
    width: auto;
}














/* FOOTER */

.footer-container{
    display: grid;
    align-items: initial;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
    width: auto;
    gap: 80px;
    margin-top: auto;
    background-color: #e9e2df;
    bottom: 0px;
    left: 0px;
    align-self: end;
    grid-column: 2;
    padding: 10px;
}
.dados-container{
    justify-self: center;
}
.dados-container p{
    color: #947868;
    font-size: 12px;
    font-weight: 200;
}
#footer-titulo{
    color: #947868;
    font-weight: 500;
}

img{
    padding-bottom: 15px;
    width: 125px;
}

@media (max-width:900px) {
    nav, ul{
        flex-direction: column;
        align-items: unset;
    }

    ul{
        text-align: center;
        align-items: center;
    }

    nav{
        padding-top: 10px;
    }

    button{
        display: flex;
    }
    
    .footer-container{
        justify-content: center;
        text-align: center;
        row-gap: 10px;
    }
    .dados-do-usuario{
        grid-template-areas: "nome"
        "sobrenome"
        "end"
        "num" 
        "comp"
        "cid" 
        "est"
        "cep"
        "em"
        "sen";
    }
}